body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.margin-top-100 {
  margin-top: 100px;
}

.actions-cell {
  width: 130px;
}

.todolist-table {
  margin-top: 15px;
}

.react-datepicker-wrapper {
  display: block !important;
}

.align-right {
  text-align: right;
}

@import 'assets/vendor.bundle.css';
@import 'assets/app.style.css';